/* Dark mode colors. */
:root {
  --sl-color-accent-low: #e3bcca;
  --sl-color-accent: #f8add8;
  --sl-color-accent-high: #f8add8;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: hsl(0, 0%, 90%);
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
  --sl-color-link: hsl(326, 70%, 80%);
  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-text-invert: var(--sl-color-black);
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #f5b9db;
  --sl-color-accent: #f8add8;
  --sl-color-accent-high: #4e2134;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-banner-text: var(--sl-color-white);
  --sl-color-black: #ffffff;
  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-text-invert: var(--sl-color-white);
  --sl-color-link: hsl(326, 70%, 50%);
}

:root[data-theme="light"] .sl-link-button.primary {
  background: var(--sl-color-text-accent);
  color: var(--sl-color-white);
  font-weight: 500;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  color: var(--sl-color-link);
}

pixel-art {
  image-rendering: pixelated;
}

.sl-markdown-content img:not(.not-content) {
  min-width: 150px;
  max-height: 65vh;
  object-fit: contain;
  width: min-content;
}

/* HERO styles */

:root {
  --purple-hsl: 240, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

:root[data-theme="light"] {
  --purple-hsl: 240, 85%, 65%;
}

:root[data-theme="dark"] .border {
  border-color: var(--sl-color-gray-3);
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: var(--sl-color-bg-nav);
}

[data-has-hero] .hero > .hero-html,
[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

.social-icons::after {
  display: none;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.header > div.sl-hidden {
  display: flex;
}
