@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-background: rgb(var(--color-primary) / <alpha-value>);
  --color-text: var(--sl-color-text);

  --color-accent-low: var(--sl-color-accent-low);
  --color-accent: var(--sl-color-accent);
  --color-accent-high: var(--sl-color-accent-high);

  --color-white: var(--sl-color-white);
  --color-gray-1: var(--sl-color-gray-1);
  --color-gray-2: var(--sl-color-gray-2);
  --color-gray-3: var(--sl-color-gray-3);
  --color-gray-4: var(--sl-color-gray-4);
  --color-gray-5: var(--sl-color-gray-5);
  --color-gray-6: var(--sl-color-gray-6);
  --color-black: var(--sl-color-black);

  --color-text-accent: var(--sl-color-text-accent);
}

@layer components {
  .btn-primary {
    @apply w-max rounded-lg p-2 px-6 flex justify-center items-center no-underline
      bg-text-accent font-medium cursor-pointer
      text-white
      dark:text-black
      transition-colors
      hover:bg-accent-low;
  }

  .btn-outline {
    @apply w-max rounded-lg p-2 px-6 flex justify-center items-center no-underline
       font-medium cursor-pointer
      text-white
      border
      transition-colors
      hover:bg-gray-100
      dark:hover:bg-gray-700;
  }

  .btn-ghost {
    @apply w-max p-2 flex px-6 justify-center items-center no-underline
      border font-medium cursor-pointer
      text-white
      rounded-full text-sm
      bg-transparent
      hover:bg-gray-200 
      hover:text-white
      dark:text-white
      dark:hover:text-black;
  }
}
