@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "daisyui" {
  themes: light, dark;
  exclude: rootscrollgutter;
  prefix: "daisy-";
}

@utility ps-input {
  @apply bg-base-200 border-transparent hover:border-base-300 outline-offset-0 focus:outline-primary focus-within:outline-primary focus:outline-1 focus-within:outline-1;
}

@utility input {
  @apply ps-input;
}

@utility select {
  @apply ps-input;
}

@utility textarea {
  @apply ps-input;
}

@utility ps-fields-card {
  @apply p-3 border border-base-300 rounded-xl flex flex-col gap-2 w-full;
}

[data-theme="dark"] .daisy-btn:hover {
  --btn-bg: color-mix(
    in oklab,
    var(--btn-color, var(--color-base-200)),
    #fff 7%
  );
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #0d0d0d;
  --color-base-200: #121212;
  --color-base-300: #1f1f1f;
  --color-base-content: #e0e0e0;
  --color-primary: #eb8ec3;
  --color-primary-content: oklch(21% 0.006 285.885);
  --color-secondary: oklch(35% 0.004 286.32);
  --color-secondary-content: oklch(92% 0.004 286.32);
  --color-accent: #e9b781;
  --color-accent-content: oklch(21% 0.006 285.885);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #eb8ec3;
  --color-primary-content: oklch(26% 0.007 34.298);
  --color-secondary: oklch(14% 0.005 285.823);
  --color-secondary-content: oklch(92% 0.004 286.32);
  --color-accent: #e9b781;
  --color-accent-content: oklch(37% 0.01 67.558);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  :where(button, [role="button"]):not([disabled]) {
    cursor: pointer;
  }
}
