---
import Footer from "./Footer/Footer.astro";
import img from "../assets/images/dead-friend-horror.png";
import Image from "astro/components/Image.astro";
import logo from "../../public/logo-icon.png";
---

<main
  class="not-content relative mx-auto flex max-w-7xl flex-col gap-24 px-0 sm:px-6 lg:px-8"
>
  <!-- HERO -->
  <section class="mt-10 flex flex-col items-start gap-4 text-left w-full">
    <div class="flex gap-2 items-center ml-1">
      <Image src={logo} alt="PS Maker logo" class="w-7 h-7 not-content" />
      <p class="font-semibold text-3xl">PS Maker</p>
    </div>

    <h1
      class="max-w-2xl text-pretty text-5xl font-bold tracking-tight sm:text-4xl lg:text-6xl leading-tight"
    >
      The 2D Game Maker Built for Telling Stories
    </h1>

    <p
      class="max-w-xl w-full text-pretty text-base/70 text-base-content/80 sm:text-lg"
    >
      <strong>PS Maker</strong> lets you build immersive story-driven games without
      the need to code, letting you focus on the narrative, art direction, world building,
      and character design.
    </p>

    <div class="flex gap-3">
      <a
        href="https://app.pixelstories.io"
        class="btn btn-primary"
        target="_blank"
        rel="noopener noreferrer"
      >
        Download PS Maker
      </a>
      <a href="https://app.pixelstories.io" class="btn"> Help documentation </a>
    </div>
  </section>

  <section>
    <div
      class="aspect-video w-full rounded-3xl border border-base-300 bg-base-100"
    >
    </div>
  </section>

  <!-- FEATURED GAME / SPLASH SECTION -->
  <section
    class="grid gap-8 p-4 mx-auto justify-items-center md:grid-cols-2 max-md:max-w-lg"
  >
    <a
      href="https://app.pixelstories.io/embed/ucUR89FNTR"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image
        src={img}
        alt="Gameplay screenshot"
        class="not-content aspect-[5/4] w-full max-md:aspect-[4/3] h-auto rounded-[2.25rem] object-cover"
      />
    </a>

    <div class="max-w-xl py-6 space-y-6">
      <div class="space-y-2">
        <p class="text-lg font-medium">Made with PS Maker</p>

        <h2 class="text-pretty text-3xl font-bold tracking-tight sm:text-5xl">
          Dead Friend Horror
        </h2>
      </div>

      <p class="text-base leading-7 text-base-content/80">
        A fun hangout with your best friend suddenly turns sideways when a
        killer in the night "takes" your friend.
      </p>

      <div>
        <a
          href="https://tdgao.itch.io/dead-friend-horror"
          target="_blank"
          rel="noopener noreferrer"
          class="btn">Play now</a
        >
      </div>
    </div>
  </section>

  <!-- COMMUNITY -->
  <section
    class="flex flex-col items-center justify-center text-center p-4 py-8"
  >
    <div class="max-w-xl flex flex-col gap-4 items-center">
      <h2 class="text-4xl font-bold">
        A community to support you along your game making journey
      </h2>
      <p class="text-base text-base-content/80">
        Share your work, get feedback, playtest, and connect with creators who
        love story-driven games!
      </p>
      <a href="https://discord.gg/your-invite" class="btn">Join our Discord</a>
    </div>
  </section>

  <!-- FINAL CTA -->
  <section
    class="mb-20 overflow-hidden rounded-3xl border border-base-300 bg-base-300 p-8 py-14 text-base-content shadow-sm"
  >
    <div
      class="mx-auto grid max-w-5xl items-center gap-8 text-base-content lg:grid-cols-3"
    >
      <div class="lg:col-span-2 space-y-4">
        <h2 class="text-3xl font-extrabold">Ready to start?</h2>
        <p class="mt-2 text-lg leading-6">
          Try our free demo to see how PS Maker works!
        </p>
      </div>
      <div class="flex items-center gap-3 lg:justify-end">
        <a href="https://app.pixelstories.io/" class="btn btn-primary px-6"
          >Download PS Maker</a
        >
      </div>
    </div>
  </section>
</main>

<Footer />
