---
import logo from "../../../public/logo-icon.png";
---

<!-- Logo & Branding -->
<div class="flex flex-col gap-y-1">
  <!-- Replace with your actual logo path or an <svg> icon -->
  <div class="flex w-auto gap-2 justify-start items-center">
    <a href="/">
      <img
        src={logo.src}
        alt="Pixel Stories"
        class="not-content h-16 rounded-[22px] border border-base-300 bg-base-100 object-contain object-left"
      />
    </a>
  </div>
  <p class="font-mono text-sm flex flex-col gap-2">
    <span>&copy; {new Date().getFullYear()} Pixel Stories, Inc.</span>
  </p>
</div>
