---
import FooterColumn from "./FooterColumn.astro";
import FooterLink from "./FooterLink.astro";
import FooterLogo from "./FooterLogo.astro";
---

<footer class="not-content !mt-40 mb-0 border-t border-base-300 py-10">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-start px-4 gap-y-4"
  >
    <FooterLogo />

    <div
      class="flex flex-wrap md:flex-nowrap justify-between grow max-w-[500px] gap-x-14 gap-y-6"
    >
      <!-- Game Maker -->
      <FooterColumn name="PS Maker">
        <FooterLink href="/overview">Help Docs</FooterLink>
        <FooterLink href="/changelog/">Changelog</FooterLink>
        <FooterLink
          href="https://github.com/pixelstories-hq/ps-maker/issues/new/choose"
          target="_blank"
          rel="noopener noreferrer"
        >
          Report a Bug
        </FooterLink>
        <FooterLink
          href="https://github.com/pixelstories-hq/ps-maker/issues/new/choose"
          target="_blank"
          rel="noopener noreferrer"
        >
          Suggest a Feature
        </FooterLink>
      </FooterColumn>

      <!-- Company -->
      <FooterColumn name="Company">
        <FooterLink href="/blog">News</FooterLink>
        <FooterLink href="/terms"> Terms of Service </FooterLink>
        <FooterLink href="/terms#privacy-policy"> Privacy </FooterLink>
      </FooterColumn>

      <!-- Community -->
      <FooterColumn name="Community">
        <FooterLink
          href="https://www.youtube.com/@PixelStoriesEngine"
          target="_blank"
          rel="noopener noreferrer"
        >
          YouTube
        </FooterLink>
        <FooterLink
          href="https://discord.com/invite/WTxUC4hEnS"
          target="_blank"
          rel="noopener noreferrer"
        >
          Discord
        </FooterLink>
        <FooterLink
          href="https://github.com/pixelstories-hq"
          target="_blank"
          rel="noopener noreferrer"
        >
          GitHub
        </FooterLink>
      </FooterColumn>
    </div>
  </div>
</footer>
